numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.11.4
matplotlib==3.10.0
jupyter==1.1.1
mlflow==2.19.0
fastapi==0.115.6
uvicorn==0.34.0
joblib==1.4.2
seaborn==0.13.2
imbalanced-learn==0.11.0
xgboost==2.0.3
optuna==3.4.0  
pickle-mixin==1.0.2
pyyaml==6.0.1
tabulate==0.9.0
shap
flake8
black
pre-commit